# PostgreSQL
POSTGRES_USER=admin
POSTGRES_PASSWORD=adminpass
POSTGRES_DB=common_app
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# JWT (для токенов)
JWT_SECRET=supersecret

# SMTP (отправка писем)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=youremail@gmail.com
SMTP_PASSWORD=your_app_password
SMTP_FROM=Common App <youremail@gmail.com>

